<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>归零幻想</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/idea.min.css"
        integrity="sha512-Rfc5zQIp95eozfMCdS3B4MItUxU8orNje/t1OEhf7XwIk0DTCuMH2LG0NIgP8UGYK9L39WfUNI1c4IsM5yY/PA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" alt="归零幻想" width="20px" height="20px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tag.html">标签</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">关于</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                -->
                </ul>
                <!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="card col" style="background-color: #f1f1f1;" id="content-container">
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">活动安排问题</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>经典的贪心问题。</p>
<h2 id="question">Question</h2>
<p>假设有n个活动的集合<code>E={a1,a2,...,an}</code>，其每个活动都要求使用同一资源（如某个设备、教室、场地等），而在同一时间内只允许一个活动使用这一资源。</p>
<p>每个活动都有一个要求使用该资源的起止时间<code>si</code>,<code>fi</code>，且<code>si&lt;fi</code>。如果选择了活动ai，则它在半开的时间区间<code>[si,fi)</code>内占有资源。两个活动<code>ai</code>,<code>aj</code>称为是相容的，当且仅当它们的时间区间<code>[si,fi)</code>和<code>[sj,fj)</code>不相交，即<code>si&gt;=fj</code> 或 <code>sj &gt;=fi</code>。现要求在所给定的活动集中选出最大的相容活动子集。</p>
</p>
                            <a href="article/2/5.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">堆栈ADT实现及应用</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>假设栈ADT的数据元素为整数，栈ADT的实现采用顺序存储结构。现要用栈来辅助完成任意非负十进制整数到Base(Base不大于35)进制的转换。部分代码已经给出，请补充完善栈溢出处理函数和主函数。  注意：只提交需要补充的函数，其他代码不允许自己重写和修改。</p>
</blockquote>
<p>栈溢出处理函数<code>overflowProcess</code>：当栈满时，将栈的空间在原来基础上扩大1倍。</p>
<p>主函数： 输入一个非负十进制整数n及要转换的进制<code>Base</code>，输出其转换后的进制形式，以及长度。输出格式如下：</p>
<pre><code>($...$)10=(#...#)Base 
Length=转换进制后数的位数
</code></pre>
<p>其中<code>$...$</code>是输入的十进制数n，<code>#...#</code>是转换得到的<code>Base</code>进制数，如果转换后位码多于1位，则用大写字母A,B,...等表示，<code>10-A</code>, <code>11-B</code>,......</p>
<p>例如，输入：</p>
<pre><code>1024 2
</code></pre>
<p>输出：</p>
<pre><code>(1024)10=(10000000000)2
Length=11
</code></pre>
<p>再如，输入：</p>
<pre><code>25 30
</code></pre>
<p>输出：</p>
<pre><code>(25)10=(P)30
Length=1
</code></pre>
</p>
                            <a href="article/2/8.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">日期相关的计算</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>今天（Sun, 16 Sep 2018 06:34:57 +0000）帮同学写一个日期相关的c++题，竟然耗费了很多时间，不得不感叹自己真是老了。
首先定义类用年月日(yy,mm,dd)存储日期
日期±天数，直接加减到“天”上，然后“多退少补”。
两日期之间相差天数。我是先计算两日前距元年元月元日的天数，然后直接相减。但我这么算，老是差几天，调试了好久，甚至我都一度打算放弃，直接调用上面做的日期加天数一天一天往上累加（可以预料到这会用多长时间）。
最后才检查出，竟然是判断闰年出错了，我把取余弄成了整除，闰年哭晕在厕所。
老了，真的老了。</p>
</blockquote>
</p>
                            <a href="article/1/6.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">线性表ADT的实现</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><h1 id="线性表adt的实现">线性表ADT的实现</h1>
<p>数据结构平时测试的题目开放了，这次平时测试睡过了，全宿舍都睡过了。现在回头做做题目，还是有坑点的。</p>
<h2 id="question">Question</h2>
<p>假设线性表ADT的数据元素类型为正整数，采用带头结点的单链式存储结构。线性表ADT实现的大部分代码已经给出，请补充写出类的两个成员函数<code>insert</code>和<code>reverse</code>。  注意：<strong>只需提交需要补充的函数代码，其他代码不能自己重写和修改。</strong></p>
<p><code>insert</code>函数：在元素值从小到大有序的线性表中插入一个元素，仍然保持有序。</p>
<p><code>reverse</code>函数：实现线性表元素的倒置，即将线性表中数据元素的顺序反转。</p>
<p>线性表元素输入时，以 <code>endTag</code> 作为结束标志。</p>
</p>
                            <a href="article/1/5.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">稀疏矩阵的压缩存储</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>特殊矩阵在采用二维数组存储时，尽管矩阵操作的算法都很简单，但是其空间的利用率很低。 系数矩阵就是一种应用很广泛的特殊的矩阵。现要求稀疏矩阵采用“压缩”存储，实现矩阵的常用操作，如输出、转置、求和等。</p>
<h2 id="question">Question</h2>
<p>矩阵采用“压缩”存储，实现矩阵的常用操作，如输出、转置、求和等。</p>
<p>矩阵的输入：有多行，第1行包括三个整数，分别是矩阵的大小m,n及非零元素的个数r。后面r行分别输入各个非零元素的 行、列、值</p>
<p>矩阵的输出：按人们习惯的矩阵格式输出，即输出一个<code>m*n</code>的矩阵，是零元素的输出0，非零元素输出元素值。</p>
<p>例如：输入如下：</p>
<pre><code>100 90 5 //矩阵的行数为100，列数为90，共5个非零元素。
1 10 100 //a(1,10)=100
50 60 200//a(50,60)=200
50 80 100//a(50,80)=100
60 60 200//a(60,60)=200
99 89 10//a(99,89)=10
100 90 4 //矩阵b的行数为100，列数为90，共4个非零元素。
1 1 10 //b(1,1)=10
50 60 -200//b(50,60)=-200
50 80 100 //b(50,80)=100
70 70 10 //b(70,70)=10
</code></pre>
</p>
                            <a href="article/2/9.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">数据结构 栈应用 1 括号匹配</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>大概是一道栈的应用的水题吧。
输入一行符号,以#结束，判断其中的括号是否匹配。
遇到左括号入栈，遇到右括号出栈。如果字符串结束栈不空，输出栈内左括号对应右括号。</p>
</blockquote>
<h2 id="question">Question</h2>
<p>用栈实现：输入一行符号,以#结束，判断其中的括号是否匹配。括号包括：</p>
<pre><code>{ } 、 [ ] 、 ( )、  &lt; &gt;
</code></pre>
<p>如果匹配，输出 <code>right</code></p>
<p>如果不匹配，给出错误提示。包括：</p>
<p>第几个符号处理时出现错误；哪几个符号失配等</p>
</p>
                            <a href="article/5/0.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">学生管理系统</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>翻出了以前C语言C实验的大作业，当时搞了好多奇技淫巧，最终拿到99分。</p>
</blockquote>
<h2 id="介绍">介绍</h2>
<p>学生成绩管理系统v6.0是由软件工程1702刘海鑫设计的一款用于学生成绩管理的软件。</p>
<h2 id="文件列表">文件列表</h2>
<ul>
<li>Stuv6.0.exe	主体程序，用于实现整体功能。</li>
<li>main.dat	程序的数据文件，用于存储学生信息。</li>
<li>goodbye.bmp	程序退出时加载的图片。</li>
<li>desktop.ini	修改程序所在文件夹的图标。</li>
<li>consoletest.exe	编译的au3程序，用于辅助输入中文。</li>
</ul>
<p>代码：</p>
<pre><code class="language-autoit">$re=InputBox(&quot;Input&quot;,&quot;You can input your massage now.(支持中文)&quot;)
ConsoleWrite($re)
</code></pre>
<ul>
<li>code.dat	密码存储文件。该文件存储的是xor算法加密的账号密码。</li>
<li>black.bmp	一张纯黑的图片，用于清除控制台加载图片的痕迹。2018年1月20日使用了image /d清除图片，本文件不再使用。</li>
<li>background.bmp	程序启动时加载的图片。</li>
<li>about.rtf	程序的说明文档。</li>
<li>scaned.txt	存储用户输入的临时文件，一般会自动清除。</li>
<li>subjects.dat	存储科目的名称，每行一个，最多允许50个，可用记事本直接打开编辑。</li>
<li>image.exe	外部程序，用于加载图片。</li>
</ul>
</p>
                            <a href="article/2/1.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">连续正整数</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>还是数据结构的网上作业，将一个整数分解为连续正整数之和，找对方向倒是也不算难……</p>
</blockquote>
<p>有些正整数可以表示为 n (n&gt;1) 个连续正整数的和，如：</p>
<pre><code>15=1+2+3+4+5
    =4+5+6
    =7+8
</code></pre>
<p>给定一个正整数 N，判断其是否可以表示为一组连续正整数的和，输出符合条件的解的组数。</p>
</p>
                            <a href="article/2/4.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">愚人节，一切小心行事</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>马上就到愚人节了，所以当我QQ空间里面有人提到关于浏览器拦截无限弹窗的问题，我就知道，这小子肯定是打算使坏……</p>
<h2 id="vb">VB</h2>
<p>VB是我学习的第一门编程语言，它可视化的界面设计以及非常接近自然语言的语法大大降低了学习的难度，可以说我的学习编程的兴趣就是VB培养的。</p>
<p>然而最初学习编程时我会的东西很少，不可能做出有多少实际意义的东西，也就是恶作剧类的比较好写，也比较有意思……</p>
<ol>
<li>关不了的弹窗</li>
</ol>
</p>
                            <a href="article/3/6.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">使用映像劫持技术屏蔽电脑中的广告进程</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>映像劫持（Image File Execution Options），简单的说法，就是当你打开的是程序A，而运行的确是程序B。映像劫持其实是Windows内设的用来调试程序的功能，但是现在却往往被病毒恶意利用。当用户双击对应的程序后，操作系统就会给外壳程序（例如“explorer.exe”）发布相应的指令，其中包含有执行程序的路径和文件名，然后由外壳程序来执行该程序。事实上在该过程中，Windows还会在注册表的上述路径中查询所有的映像劫持子键，如果存在和该程序名称完全相同的子键，就查询对应子健中包含的“dubugger”键值名，并用其指定的程序路径来代替原始的程序，之后执行的是遭到“劫持”的虚假程序。</p>
</blockquote>
<p>国内很多软件都有重度广告，“资讯”、“新闻”、“弹窗”，不胜其烦。直接找到广告进程删除掉，结果一自动更新，又回来了。</p>
<p>于是，我想到了“映像劫持”：</p>
<pre><code class="language-ini">Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\SLBService.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\TsService.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\FoxitDesktopAd.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\FoxitProtect.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\LCServer.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\LRServer.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\2345MiniPage.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\SohuNews.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\PinyinUp.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\SGDownload.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\SGMedalLoader.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\SogouCloud.exe]
&quot;Debugger&quot;=&quot;winlogon&quot;

</code></pre>
<p>保存为<code>.reg</code>文件，导入注册表即可。</p>
</p>
                            <a href="article/2/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>


                <!--第一页、最后一页、当前页、当前页上下页-->
                <nav aria-label="Page navigation example" class="mt-3 d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" aria-label="First">
                            <a class="page-link" href="/">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item" aria-label="Previous"><a class="page-link"
                                href="/index5.html">5</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">6</a></li>
                        <li class="page-item" aria-label="Next"><a
                                class="page-link" href="/index7.html">7</a></li>
                        
                        <li class="page-item" aria-label="Last">
                            <a class="page-link" href="/index7.html">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="card col-md-4 d-none d-md-block ms-md-3 text-center">
                <div class="sticky-top">
                    <img src="/favicon.ico" alt="avatar" class="mt-3">
                    <div class="card-body">
                        <p class="card-text">
                            归零幻想
                        </p>
                        <p class="card-text">
                            邮件：<a href="mailto:admin@ntutn.top">admin@ntutn.top</a><br>
                            Telegram: <a href="https://t.me/zerofancy">@zerofancy</a>
                        </p>
                        <blockquote id="hitokoto">正在追番《艾克斯奥特曼》。</blockquote>
                        <div style="text-align:right;" id="hitokoto_from">——站长</div>
                        <a href="/atom.xml">RSS</a>
                    </div>
                    <div>
                        <p class="card-body">友情链接</p>
                        <ul>
                            <li><a href="https://blog.semesse.me/">色魔是色魔</a></li>
                            <li><a href="http://www.xyx6.top/">XYX</a></li>
                            <li><a href="http://upccaishu.top/">菜树</a></li>
                            <li><a href="https://www.ruiovo.top/">ruiOvO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // 一言
        let xhr = new XMLHttpRequest()
        xhr.open('get', 'https://v1.hitokoto.cn/')
        xhr.send()
        xhr.onload = function () {
            let hitokotoResult = JSON.parse(xhr.responseText)
            document.getElementById("hitokoto").innerText = hitokotoResult.hitokoto
            document.getElementById("hitokoto_from").innerText = "——" + hitokotoResult.from
        }
        // 页码
        var getRandomColor = function () {
            return '#' +
                (function (color) {
                    return (color += '0123456789abcdef'[Math.floor(Math.random() * 16)]) && (color.length == 6) ? color : arguments.callee(color);
                })('');
        }
        let pageWidth = window.innerWidth,
            pageHeight = window.innerHeight
        if (typeof innerWidth != 'number') {
            if (document.compatMode == 'CSS1Compat') {//严格模式
                pageWidth = document.documentElement.clientWidth
                pageHeight = document.documentElement.clientHeight
            } else {
                pageWidth = document.body.clientWidth
                pageHeight = document.body.clientHeight
            }
        }
        document.body.style.backgroundColor = getRandomColor();
        console.log(`https://source.unsplash.com/random/${pageWidth}x${pageHeight}`)
        document.body.style.backgroundImage = `url(https://source.unsplash.com/random/${pageWidth}x${pageHeight})`;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/bash.min.js"
        integrity="sha512-HIFqAH4BgdlJE3A1Uoyl6weoDR1WtdufmKBPWtemvTI+12lrV5dfPR5ekvJaePkq6w+zuPAek2X2hHxo/T5kag=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/basic.min.js"
        integrity="sha512-8MrrYyqbmwVrcDGR/2VenE2+IX+ELHJxM0vysdjlAQrJyXZwfKl9dXdyWASFBKzuszu8z3G7XoyjeJVM3b9MlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/c.min.js"
        integrity="sha512-+2nEdmDIEQVBw4y3LD2BLOgAvX1+xx9kPQawjQB/HNfi4bDgSF4ywg8yIQ67ijrLLO2ruHaX9dZ25ruG3HwZSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/cpp.min.js"
        integrity="sha512-OsjySiIaNsR3uFe7uEH6yht3is/WrIXKocWeO0YHFs25jOwHwMtzIdkUENQjblQihTUIN78bpnLKbhMxRegjLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/gradle.min.js"
        integrity="sha512-QXYGxsyYg6bKlr3W82K2fp25xklKskdnms2qEhgrm2Uz+dnDG3RCHmVP6GQ6waI34+lirlcgsdddvmSXbBhhhQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/groovy.min.js"
        integrity="sha512-wHPb/EJ15Z5bl59kfxL/THnrtIGdrlOD0CdeBKZ1tsgcLsmx4kbiTmB0gsPZUqCzgIB3MK9tBemnrIr41WFUkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/java.min.js"
        integrity="sha512-5j3t2T2xf236N+J+QPE2Po6Q3P/SXze0hgt2XMi1mbYzkC2VqeB/DFYICXfMhV1V+KdxDOBp9PcCAebb8kLvSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/javascript.min.js"
        integrity="sha512-Jvh5kXa0Zu4HoSxPaZIVhCWPkD7b7gnWHVzv6jiaJwAJ18a/U6BOXludYfJYwHorpy2WFH0Df6EcFi5udu1dWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/json.min.js"
        integrity="sha512-z3sCqG8cfRJGXv+x7QvVAx92uACSYScuJCRQzSjEhAU23TabHD8+tqafvAbKterqaB4tkiVJYCFNhQaT1+QmfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/kotlin.min.js"
        integrity="sha512-ZEBRAqmcLuQ5A9KdZIayen2HuDMAau0Q4C3s/gwnIldFSvOxAOXJk0zhEpu30ACABYAmHKNSZDmup5OEGbx+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/xml.min.js"
        integrity="sha512-1UdiK7+k2GhyGJMG9hmQXQ51TP2NPjHjh65uWhCeqSXSZ4UlzDG5+/st9VWRksKWYxKeU37/qwSAuPfSkcWD6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll()
    </script>

    <!--图片调整-->
    <script>
        //获取图片元素
        var imgs = document.getElementsByTagName("img");
        //获取div元素   
        var contentLeft = document.getElementById("content-container");
        //使用js设置图片元素宽度的变化    
        for (var i = 0; i < imgs.length; i++) {
            imgs[i].style["max-width"] = contentLeft.offsetWidth - 60 + "px";
        }
            //40是要减去padding
    </script>

    <!--HTTPS重定向-->
    <script>
        if (!(window.location.host.startsWith("127.0.0.1") || window.location.host.startsWith("localhost")) && (window.location.protocol != "https:")) {
            window.location.protocol = "https";
        }
    </script>
</body>

</html>