<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>归零幻想</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/idea.min.css"
        integrity="sha512-Rfc5zQIp95eozfMCdS3B4MItUxU8orNje/t1OEhf7XwIk0DTCuMH2LG0NIgP8UGYK9L39WfUNI1c4IsM5yY/PA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" alt="归零幻想" width="20px" height="20px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tag.html">标签</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">关于</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                -->
                </ul>
                <!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="card col" style="background-color: #f1f1f1;" id="content-container">
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">数据结构 栈应用2 表达式求值</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>表达式求值是程序设计语言编译中的一个最基本问题，它的实现是栈应用的一个典型例子。</p>
</blockquote>
<h2 id="question">Question</h2>
<p>表达式求值是进行数据处理的最基本操作。请编写程序完成一个简单算术表达式的求值。要求如下：</p>
<ol>
<li>运算符包括：<code>+、-、*、-、^(乘方)、括号</code></li>
<li>运算量为数值常量，根据自己的能力可以对运算量做不同的约束，例如1位整数、多位整数、实数等（会有不同的测试用例）；</li>
</ol>
</p>
                            <a href="article/1/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">装饰模式实现分享功能</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>title: 装饰模式实现分享功能
author: 归零幻想
publishDate: 2021-07-19
editDate: 2021-07-19
tags: [设计模式, Kotlin, 分享]</p>
<!--config-->
<p>在看业务代码时发现了一段代码，应用了装饰模式处理了分享功能的实现，非常巧妙，共赏。</p>
<p><img src="https://i.loli.net/2021/07/19/yiSRrDhZx4AT9GI.png" alt="装饰模式.svg.png.lin.png" /></p>
</p>
                            <a href="article/5.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">ClassLoader双亲委托机制探究</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>最近在研究抖音进入热点内流的耗时问题，种种线索指向了类加载耗时上。为此，我研究了Java类加载的双亲委托机制，并尝试给出了优化建议。</p>
<h2 id="双亲委托机制">双亲委托机制</h2>
<p>双亲委托机制中最重要的是loadClass方法，让我们看看它是怎么实现的。</p>
<pre><code class="language-java">    protected Class&lt;?&gt; loadClass(String name, boolean resolve)
        throws ClassNotFoundException
    {
            // First, check if the class has already been loaded
            Class&lt;?&gt; c = findLoadedClass(name); // 已加载过直接返回
            if (c == null) {
                try {
                    if (parent != null) {
                        c = parent.loadClass(name, false); //尝试让parent加载
                    } else {
                        c = findBootstrapClassOrNull(name); // bootstrap class loader是否加载过
                    }
                } catch (ClassNotFoundException e) {
                    // ClassNotFoundException thrown if class not found
                    // from the non-null parent class loader
                }

                if (c == null) {
                    // If still not found, then invoke findClass in order
                    // to find the class.
                    c = findClass(name); // 自己加载（找不到会抛出异常）
                }
            }
            return c;
    }
</code></pre>
<p>findClass就是根据类名去加载具体类的方法，则整个加载机制就很清楚了。</p>
<ol>
<li>首先部分类会被BootstrapClassLoader加载，这部分是native实现。</li>
<li>会先尝试让parent加载</li>
<li>parent找不到时才会自己加载</li>
</ol>
<p>如果我们能创建一个ClassLoader，将它插入到PathClassLoader和BootstrapClassLoader之间，那么所有被PathClassLoader加载的类就都可以记录下来了。</p>
</p>
                            <a href="article/1/2.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">DebugEntrance和DebugConfig</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>工欲善其事，必先利其器。毕设是一个相对复杂的项目了，我觉得要想顺利完成肯定是需要一些手段帮助我调试的。于是这里我准备了debug页面，主要功能就两个：提供某个功能的入口以及存储配置（最好能直接在手机上修改）</p>
<h2 id="debugentrance">DebugEntrance</h2>
<p>就是一个各种测试功能的入口。</p>
<p><img src="https://i.loli.net/2021/02/22/gOV6niTxoBfXbWv.jpg" alt="1.jpg" /></p>
<p>这个一看实现就很简单，不细说了。</p>
<h2 id="debugconfig">DebugConfig</h2>
<p>因为字节自己的ABManager用着挺顺手，感觉自己项目调试时有类似这么个东西会比较舒服，于是搞了这么个东西。</p>
<p><img src="https://i.loli.net/2021/02/22/Mi8lCJdZBcjnYmO.jpg" alt="2.jpg" /> <img src="https://i.loli.net/2021/02/22/cEAfgMVPzrSXmuY.jpg" alt="3.jpg" /></p>
<h3 id="使用">使用</h3>
<p>先看使用：</p>
<pre><code class="language-kotlin">@ZeroConfig(key = &quot;retrofit_config&quot;, title = &quot;Retrofit配置&quot;, owner = &quot;liuhaixin.zero&quot;)
data class RetrofitConfig(val baseUrl: String = RetrofitUtil.BASE_URL)

private val retrofitConfig by zeroConfig&lt;RetrofitConfig&gt;()

private val retrofit by lazy {
    Retrofit.Builder()
        .baseUrl(retrofitConfig?.baseUrl ?: BASE_URL)
        .addConverterFactory(GsonConverterFactory.create())
        .client(okHttpClient)
        .build()
}
</code></pre>
<p>看上去还是有点让人心动的吧。</p>
</p>
                            <a href="article/1/7.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">ViewBinding、ViewModel和LiveData</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>毕设项目没有历史包袱，我可以尽量向best practice努力。</p>
<h2 id="viewbinding">ViewBinding</h2>
<p>无数人痛恨findViewById，并且为了干掉它做了许多尝试，比如ButterKnife、kotlin-android-extensions。</p>
<p>现在，有了ViewBinding，项目中真的可以不写findViewById了。至少目前为止我的毕设项目还没有一个findViewById。</p>
<p>其实与ViewBinding相似的，还有一个DataBinding，但我不太喜欢，感觉在xml里面写代码不是一个好主意。</p>
<h3 id="使用">使用</h3>
<p>首先在build.gradle（或build.gradle.kts）中的android块添加</p>
<pre><code class="language-groovy">buildFeatures {
    viewBinding = true
}
</code></pre>
<p>在xml中正常定义你的布局</p>
<pre><code class="language-xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    android:orientation=&quot;vertical&quot;
    tools:context=&quot;.MainActivity&quot;&gt;

    &lt;TextView
        android:id=&quot;@+id/text_view&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;Hello World!&quot; /&gt;

    &lt;Button
        android:id=&quot;@+id/test_button&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;toast&quot; /&gt;

    &lt;Button
        android:id=&quot;@+id/change_button&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;change&quot; /&gt;
&lt;/LinearLayout&gt;
</code></pre>
<p>接下来就可以愉快使用了</p>
<pre><code class="language-kotlin">package top.ntutn.viewmodeldemo

import android.os.Bundle
import android.widget.Toast
import androidx.appcompat.app.AppCompatActivity
import top.ntutn.viewmodeldemo.databinding.ActivityMainBinding

class MainActivity : AppCompatActivity() {
    private lateinit var binding: ActivityMainBinding

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        binding = ActivityMainBinding.inflate(layoutInflater)
        setContentView(binding.root)
        initView()
    }

    private fun initView() {
        binding.apply {
            changeButton.setOnClickListener { textView.text = &quot;Changed!&quot; }
            testButton.setOnClickListener {
                Toast.makeText(
                    this@MainActivity,
                    &quot;Test&quot;,
                    Toast.LENGTH_LONG
                ).show()
            }
        }
    }
}
</code></pre>
<p>我们在xml里面用下划线分隔的id在这里就直接变成了binding里面的字段，相当舒服。</p>
<h3 id="在recyclerview中的使用">在RecyclerView中的使用</h3>
<p>在RecyclerView中代码要稍微发生一点变化，因为我们是在onCreateViewHolder时反射创建布局的。</p>
<pre><code class="language-kotlin">package top.ntutn.viewmodeldemo

import android.view.LayoutInflater
import android.view.ViewGroup
import androidx.recyclerview.widget.RecyclerView
import top.ntutn.viewmodeldemo.databinding.ItemTestBinding

class MyAdapter : RecyclerView.Adapter&lt;MyAdapter.ViewHolder&gt;() {
    class ViewHolder(val binding: ItemTestBinding) : RecyclerView.ViewHolder(binding.root)

    override fun onCreateViewHolder(parent: ViewGroup, viewType: Int): ViewHolder {
        return ViewHolder(
            ItemTestBinding.inflate(LayoutInflater.from(parent.context), parent, false)
        )
    }

    override fun onBindViewHolder(holder: ViewHolder, position: Int) {
        holder.binding.textView.text = TODO(&quot;Not yet implemented&quot;)
    }

    override fun getItemCount(): Int {
        TODO(&quot;Not yet implemented&quot;)
    }
}
</code></pre>
<p>仍然不需要findViewById！</p>
</p>
                            <a href="article/4.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">【译】用BuildSrc和Kotlin_DSL管理Gradle依赖</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p><img src="https://miro.medium.com/max/1400/1*ZKNUGwUmBjukpnTrHCeGJA.png" alt="" /></p>
<blockquote>
<p>多模块工程中一个更好的引入依赖的方法</p>
</blockquote>
<p>翻译自<a href="https://medium.com/better-programming/gradle-dependency-management-with-buildsrc-and-kotlin-dsl-1de958eab166">Gradle Dependency Management With BuildSrc and Kotlin DSL</a></p>
<p>第一次尝试翻译英文文章……</p>
<h2 id="要点">要点</h2>
<p>主要集中在如何用<code>buildSrc</code>目录和Kotlin DSL脚本构建一个Gradle依赖管理系统，你也会学到这样做相对使用传统Groovy代码的好处。</p>
<p>如果你倾向于通过视频来看这篇博客，文末附有一个Youtube视频。</p>
<h2 id="问题">问题</h2>
<p>众所周知在一个快速发展的项目中维护依赖是一个乏味的工作，而传统的Groovy脚本没有code navigation、自动补全，再加上性能问题和运行时错误让这一切变得更糟糕。</p>
<p>更重要的是，多数安卓开发者不懂Groovy，甚至我也不知道我之前在用Groovy做啥。</p>
<p>感谢Gradle团队和社区的工作提供了一个顺畅安全的构建流程，他们提出的最棒的主意之一就是用Kotlin DSL脚本写buildSrc目录。</p>
<h1 id="解决">解决</h1>
<p>依赖库引入和自定义task不应该放到构建脚本中，它们应该被声明到一个独立文件中再被构建脚本使用。在这个实现的早期，开发者习惯于创建一个Gradle文件来声明所有库并在构建脚本中使用。</p>
<p>这确实在一定程度上解决了问题，你可以在<a href="https://medium.com/@sgkantamani/next-level-of-dependencies-declaration-with-kotlin-dsl-scripits-48bfe1cb1f10">这篇文章</a>读到这种方法。但这个简单方案不能解决类似自动补全和code navigation的问题，这使得在长远上看这个方案不够可靠。在这之外，buildSrc似乎有希望解决这个问题。</p>
<blockquote>
<p>这个目录被当作一个<a href="https://docs.gradle.org/current/userguide/composite_builds.html#composite_build_intro">included build</a>看待。在发现这个目录之后，Gradle自动编译和测试它的代码，并将编译结果放到你的构建脚本的class path中。在一个多模块的工程中只能有一个这样的目录，并且要放到工程的顶级目录中。应该优先通过<a href="https://docs.gradle.org/current/userguide/plugins.html#sec:script_plugins">script plugins</a>因为这样更便于管理、重构和测试代码。
——Gradle团队</p>
</blockquote>
<h2 id="创建buildsrc目录">创建buildSrc目录</h2>
<p>使用Kotlin DSL脚本不但能解决构建脚本中的这些问题，还能得到先进的IDE支持，包括code navigation、编译时错误提示等。最重要的，我们再也不用使用Groovy了。</p>
</p>
                            <a href="article/1/1.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">android项目开发：多线程编程</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>仍然是《第一行代码》的笔记，不过略过了deprated的内容，并探究了下Handler的工作机制。</p>
<blockquote>
<p>上班了，果然没有那么多大块时间写博客了。</p>
</blockquote>
<h2 id="handler">Handler</h2>
<p>主线程不能进行耗时处理，子线程不能访问UI，所以我们需要异步消息处理机制。</p>
<h3 id="使用">使用</h3>
<pre><code class="language-kotlin">
class MainActivity : AppCompatActivity() {
    private lateinit var binding: ActivityMainBinding

    private val handler = object : Handler(Looper.getMainLooper()) {
        override fun handleMessage(msg: Message) {
            when(msg.what){
                MSG_UPDATE_TEXT -&gt; binding.textView.text = &quot;Nice to meet you. &quot;
            }
        }
    }

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        binding = ActivityMainBinding.inflate(layoutInflater)
        setContentView(binding.root)
        initView()
    }

    private fun initView() {
        binding.apply {
            changeTextButton.setOnClickListener {
                thread {
                    val msg = Message()
                    msg.what = MSG_UPDATE_TEXT
                    handler.sendMessage(msg)
                }
            }
        }
    }

    companion object {
        private const val MSG_UPDATE_TEXT = 1
    }
}
</code></pre>
<h3 id="原理">原理</h3>
<p>图片有点多，懒得一张张转移了，去我整理的文档看吧：</p>
<p><a href="https://bytedance.feishu.cn/docs/doccnRaxHFiTJDYLBuYMzpSSJAd">安卓Handler异步消息处理机制</a></p>
</p>
                            <a href="article/5/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">截图不可信,我们能信什么</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>这两天网上流传一件事，又有一个拼多多员工猝死了，而这名员工是<strong>98年出生的，年仅23岁</strong>。</p>
<p><a href="https://www.zhihu.com/question/437702180">如何看待网传拼多多员工加班后猝死一事？拼多多需要承担哪些责任？ - 知乎</a></p>
<p>之前虽然一直有程序员猝死的案例，但总感觉离自己很远，甚至拿<em>程序员钱多话少死的快</em>这种梗自嘲，但这次我慌了，因为我也是98年的。</p>
<p>之后也在对这个事情保持关注，然后突然在知乎流传一张截图，截图为拼多多自己在上述问题下的回答，并称该回答已经被删除。</p>
<p><img src="https://i.loli.net/2021/01/04/yCpvnFqzYGObQju.jpg" alt="v2-965e16d02fbc62ea9ad792318c88d372_r.jpg" /></p>
<p>这是要搞事情的节奏啊。当然接下来拼多多自然说自己没说过，于是有了第二个问题：<a href="https://www.zhihu.com/question/437783708">拼多多疑似回应「员工猝死」后秒删，是真的吗？拼多多又称截图系谣言，你相信吗？ - 知乎</a></p>
<p>然后知乎小管家发布内容证明拼多多说过：<a href="https://www.zhihu.com/question/437783708/answer/1660566169">拼多多疑似回应「员工猝死」后秒删，是真的吗？拼多多又称截图系谣言，你相信吗？ - 知乎小管家的回答 - 知乎</a></p>
<p>好吧，拼多多栽了，那么我们有没有别的方法证明这件事情发生过？万一下次是腾讯出了什么问题，小管家扛得住压力吗？</p>
</p>
                            <a href="article/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">android项目开发：Broadcast</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>仍然是《第一行代码》的学习笔记，安卓内置广播机制。</p>
<p>Android中每个应用程序都可以对自己感兴趣的广播进行注册，包括来自系统的，和其他应用程序的。</p>
<p>广播分为标准广播和有序广播。</p>
<ul>
<li>标准广播异步执行，所有BroadcastReceiver几乎同时收到广播的消息。</li>
<li>有序广播 同步执行，只有前一个Receiver逻辑执行完后才会传递给下一个，且可以将广播截断。</li>
</ul>
</p>
                            <a href="article/4/6.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">android项目开发：Fragment</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><h1 id="fragment">Fragment</h1>
<h2 id="fragment的使用方式">Fragment的使用方式</h2>
<h3 id="静态添加fragment">静态添加Fragment</h3>
<p>Fragment的写法</p>
<pre><code class="language-xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
              android:orientation=&quot;vertical&quot; android:layout_width=&quot;match_parent&quot;
              android:layout_height=&quot;match_parent&quot;&gt;

    &lt;Button
            android:id=&quot;@+id/button&quot;
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;button&quot;
            android:layout_gravity=&quot;center_horizontal&quot;/&gt;

&lt;/LinearLayout&gt;
</code></pre>
<pre><code class="language-kotlin">package top.ntutn.fragmenttest

import android.os.Bundle
import android.view.LayoutInflater
import android.view.View
import android.view.ViewGroup
import androidx.fragment.app.Fragment

class LeftFragment : Fragment() {
    override fun onCreateView(
        inflater: LayoutInflater,
        container: ViewGroup?,
        savedInstanceState: Bundle?
    ): View? {
        return inflater.inflate(R.layout.left_fragment, container, false)
    }
}
</code></pre>
<p>静态添加Fragment</p>
<pre><code class="language-xml">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
              xmlns:tools=&quot;http://schemas.android.com/tools&quot;
              android:layout_width=&quot;match_parent&quot;
              android:layout_height=&quot;match_parent&quot;
              android:orientation=&quot;horizontal&quot;
              tools:context=&quot;.MainActivity&quot;&gt;

    &lt;fragment
            android:id=&quot;@+id/leftFragment&quot;
            android:name=&quot;top.ntutn.fragmenttest.LeftFragment&quot;
            android:layout_width=&quot;0dp&quot;
            android:layout_height=&quot;match_parent&quot;
            android:layout_weight=&quot;1&quot;/&gt;

    &lt;fragment
            android:id=&quot;@+id/rightFragment&quot;
            android:name=&quot;top.ntutn.fragmenttest.RightFragment&quot;
            android:layout_width=&quot;0dp&quot;
            android:layout_height=&quot;match_parent&quot;
            android:layout_weight=&quot;1&quot;/&gt;

&lt;/LinearLayout&gt;
</code></pre>
</p>
                            <a href="article/5/5.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>


                <!--第一页、最后一页、当前页、当前页上下页-->
                <nav aria-label="Page navigation example" class="mt-3 d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" aria-label="First">
                            <a class="page-link" href="/">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        
                        <li class="page-item" aria-label="Previous"><a class="page-link"
                                href="/">1</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                        <li class="page-item" aria-label="Next"><a
                                class="page-link" href="/index3.html">3</a></li>
                        <li class="page-item disabled"><a class="page-link"
                                href="#">...</a></li>
                        <li class="page-item" aria-label="Last">
                            <a class="page-link" href="/index7.html">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="card col-md-4 d-none d-md-block ms-md-3 text-center">
                <div class="sticky-top">
                    <img src="/favicon.ico" alt="avatar" class="mt-3">
                    <div class="card-body">
                        <p class="card-text">
                            归零幻想
                        </p>
                        <p class="card-text">
                            邮件：<a href="mailto:admin@ntutn.top">admin@ntutn.top</a><br>
                            Telegram: <a href="https://t.me/zerofancy">@zerofancy</a>
                        </p>
                        <blockquote id="hitokoto">正在追番《艾克斯奥特曼》。</blockquote>
                        <div style="text-align:right;" id="hitokoto_from">——站长</div>
                        <a href="/atom.xml">RSS</a>
                    </div>
                    <div>
                        <p class="card-body">友情链接</p>
                        <ul>
                            <li><a href="https://blog.semesse.me/">色魔是色魔</a></li>
                            <li><a href="http://www.xyx6.top/">XYX</a></li>
                            <li><a href="http://upccaishu.top/">菜树</a></li>
                            <li><a href="https://www.ruiovo.top/">ruiOvO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // 一言
        let xhr = new XMLHttpRequest()
        xhr.open('get', 'https://v1.hitokoto.cn/')
        xhr.send()
        xhr.onload = function () {
            let hitokotoResult = JSON.parse(xhr.responseText)
            document.getElementById("hitokoto").innerText = hitokotoResult.hitokoto
            document.getElementById("hitokoto_from").innerText = "——" + hitokotoResult.from
        }
        // 页码
        var getRandomColor = function () {
            return '#' +
                (function (color) {
                    return (color += '0123456789abcdef'[Math.floor(Math.random() * 16)]) && (color.length == 6) ? color : arguments.callee(color);
                })('');
        }
        let pageWidth = window.innerWidth,
            pageHeight = window.innerHeight
        if (typeof innerWidth != 'number') {
            if (document.compatMode == 'CSS1Compat') {//严格模式
                pageWidth = document.documentElement.clientWidth
                pageHeight = document.documentElement.clientHeight
            } else {
                pageWidth = document.body.clientWidth
                pageHeight = document.body.clientHeight
            }
        }
        document.body.style.backgroundColor = getRandomColor();
        console.log(`https://source.unsplash.com/random/${pageWidth}x${pageHeight}`)
        document.body.style.backgroundImage = `url(https://source.unsplash.com/random/${pageWidth}x${pageHeight})`;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/bash.min.js"
        integrity="sha512-HIFqAH4BgdlJE3A1Uoyl6weoDR1WtdufmKBPWtemvTI+12lrV5dfPR5ekvJaePkq6w+zuPAek2X2hHxo/T5kag=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/basic.min.js"
        integrity="sha512-8MrrYyqbmwVrcDGR/2VenE2+IX+ELHJxM0vysdjlAQrJyXZwfKl9dXdyWASFBKzuszu8z3G7XoyjeJVM3b9MlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/c.min.js"
        integrity="sha512-+2nEdmDIEQVBw4y3LD2BLOgAvX1+xx9kPQawjQB/HNfi4bDgSF4ywg8yIQ67ijrLLO2ruHaX9dZ25ruG3HwZSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/cpp.min.js"
        integrity="sha512-OsjySiIaNsR3uFe7uEH6yht3is/WrIXKocWeO0YHFs25jOwHwMtzIdkUENQjblQihTUIN78bpnLKbhMxRegjLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/gradle.min.js"
        integrity="sha512-QXYGxsyYg6bKlr3W82K2fp25xklKskdnms2qEhgrm2Uz+dnDG3RCHmVP6GQ6waI34+lirlcgsdddvmSXbBhhhQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/groovy.min.js"
        integrity="sha512-wHPb/EJ15Z5bl59kfxL/THnrtIGdrlOD0CdeBKZ1tsgcLsmx4kbiTmB0gsPZUqCzgIB3MK9tBemnrIr41WFUkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/java.min.js"
        integrity="sha512-5j3t2T2xf236N+J+QPE2Po6Q3P/SXze0hgt2XMi1mbYzkC2VqeB/DFYICXfMhV1V+KdxDOBp9PcCAebb8kLvSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/javascript.min.js"
        integrity="sha512-Jvh5kXa0Zu4HoSxPaZIVhCWPkD7b7gnWHVzv6jiaJwAJ18a/U6BOXludYfJYwHorpy2WFH0Df6EcFi5udu1dWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/json.min.js"
        integrity="sha512-z3sCqG8cfRJGXv+x7QvVAx92uACSYScuJCRQzSjEhAU23TabHD8+tqafvAbKterqaB4tkiVJYCFNhQaT1+QmfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/kotlin.min.js"
        integrity="sha512-ZEBRAqmcLuQ5A9KdZIayen2HuDMAau0Q4C3s/gwnIldFSvOxAOXJk0zhEpu30ACABYAmHKNSZDmup5OEGbx+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/xml.min.js"
        integrity="sha512-1UdiK7+k2GhyGJMG9hmQXQ51TP2NPjHjh65uWhCeqSXSZ4UlzDG5+/st9VWRksKWYxKeU37/qwSAuPfSkcWD6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll()
    </script>

    <!--图片调整-->
    <script>
        //获取图片元素
        var imgs = document.getElementsByTagName("img");
        //获取div元素   
        var contentLeft = document.getElementById("content-container");
        //使用js设置图片元素宽度的变化    
        for (var i = 0; i < imgs.length; i++) {
            imgs[i].style["max-width"] = contentLeft.offsetWidth - 60 + "px";
        }
            //40是要减去padding
    </script>

    <!--HTTPS重定向-->
    <script>
        if (!(window.location.host.startsWith("127.0.0.1") || window.location.host.startsWith("localhost")) && (window.location.protocol != "https:")) {
            window.location.protocol = "https";
        }
    </script>
</body>

</html>