<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>归零幻想</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/idea.min.css"
        integrity="sha512-Rfc5zQIp95eozfMCdS3B4MItUxU8orNje/t1OEhf7XwIk0DTCuMH2LG0NIgP8UGYK9L39WfUNI1c4IsM5yY/PA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" alt="归零幻想" width="20px" height="20px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tag.html">标签</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">关于</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                -->
                </ul>
                <!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="card col" style="background-color: #f1f1f1;" id="content-container">
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">我发现了齐鲁软件大赛系统的漏洞</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>事情起因是这样的：</p>
<p>本来我计划今天处理齐软提交作品的事情，然而知乎真是好看……</p>
<p>等我想起了这回事，提交信息后，先弹出修改成功提示，然后告诉我<strong>没有登录</strong>。</p>
<p>what?没有登录但修改成功了？</p>
</p>
                            <a href="article/4/7.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">人工智能知识点整理</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>人工智能考试前整理的，很详细，虽然实际考试还是有好些想不起来，但总归起了一些作用的。</p>
</blockquote>
<h2 id="第1章绪论">第1章绪论</h2>
<h3 id="人工智能的起源">人工智能的起源</h3>
<p>现代人工智能的起源是<strong>1956年的达特茅斯会议</strong>。</p>
<p>参加者：<strong>麦卡锡、明斯基</strong>、香农、罗切斯特、纽厄尔、西蒙、萨缪尔、伯恩斯坦、摩尔、所罗门诺夫。</p>
<p>会议的主要成就就是让人工智能成了一个独立的研究学科。</p>
<p>定下来人工智能的英文名称是“Artificial Intelligence”</p>
</p>
                            <a href="article/3/9.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">android项目开发：UI设计</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>仍然是《第一行代码》的学习笔记，这里记录的东西相对少一点，UI上的东西还是更多在实际项目中感受到。比如我想没有必要写TextView的介绍吧。</p>
<h2 id="控件的使用方法">控件的使用方法</h2>
<p><code>dp</code>是一种屏幕密度无关的尺寸单位，可以保证在不同分辨率的手机上显示效果尽可能一致。</p>
<p><code>match_parent</code>表示让当前控件大小和父布局的大小一致。</p>
<p><code>wrap_content</code>表示让当前控件的大小能正好包裹里面的内容。</p>
<p><code>android:gravity</code>指定控件内的内容对齐方式，有<code>top</code>、<code>bottom</code>、<code>start</code>、<code>end</code>、<code>center</code>等可选，可以用<code>|</code>指定多个值。比如<code>center</code>等价于<code>center_vertical|center_horizonal</code>。</p>
<h2 id="基本布局">基本布局</h2>
<h3 id="linearlayout">LinearLayout</h3>
<p>线性布局，通过<code>android:orientation</code>指定方向。</p>
<p>有一个重要属性：<code>android:layout_weight</code>，它将控件已经占用的空间减掉后按照比重分给各个控件。一般我们直接指定<code>android:layout_width</code>为0dp，而给它指定一个比重，这样控件的尺寸将占满剩余空间。</p>
</p>
                            <a href="article/4/8.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">android项目开发：通知</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>仍然是第一行代码的笔记，这篇是有关通知的，最基本的用法。</p>
<h2 id="通知的相关知识">通知的相关知识</h2>
<p>通知是什么不再赘述，这里只记录些重要但没接触的概念。</p>
<p>通知渠道在8.0（O）引入。要求APP将通知分类，通过不同<em>渠道</em>进行分发，用户可以选择性禁用某个渠道的通知，或者调整优先等级。</p>
<p>通知可以有不同的重要等级，有四种：<code>IMPORTANCE_HIGH</code>、<code>IMPORTANCE_DEFAULT</code>、<code>IMPORTANCE_LOW</code>、<code>IMPORTANCE_MIN</code>。根据重要等级不同，通知可能有不同的展现策略，比如在前台提示甚至播放声音。</p>
<p>在通知渠道创建时通知的重要等级也就确定了，之后不能再被APP修改。</p>
</p>
                            <a href="article/5/7.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">大型数组按行遍历与按列遍历的区别</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>今天这学期开学第一天，上了《计算机操作系统原理》，老师提出个问题</p>
<blockquote>
<p>对于一个很大的数组（如<code>70000×70000</code>），按行遍历速度快还是按列遍历快，为什么？</p>
</blockquote>
<p>乍一看，程序时间复杂度一样，理论上不是应该一样快吗？难道老师在钓鱼？</p>
<p>实践出真知，我们就写个程序跑一跑。</p>
</p>
                            <a href="article/3/1.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">闷声作大死：删除电脑内的空文件夹</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>电脑卸载软件时，卸载程序常常不会把程序对应的空文件夹删掉，一般这时候我都是手动去把他删掉。</p>
<p>我觉得有点麻烦，又想到电脑内可能还有其他的空文件夹。于是在网上找了个脚本删除电脑内的空文件夹，然后就遇到了麻烦……</p>
<p>也许本文标题应该是<strong>一个空文件夹引发的血案</strong>……</p>
</p>
                            <a href="article/3/7.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">在Windows10上安装血战上海滩</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>《血战上海滩》是由北京欢乐亿派科技有限公司开发的单机FPS游戏，发行于2003年，是一个非常经典的老游戏了。
近来我打算把这个游戏找出来再玩一遍，可是在Windows10上安装还是有些问题……</p>
<p><img src="/res/img/shanghai1.png" alt="血战上海滩" title="血战上海滩" /></p>
</p>
                            <a href="article/3/2.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">数据结构第三次测试</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><blockquote>
<p>数据结构测试，树部分，水题</p>
</blockquote>
<h2 id="一">一</h2>
<p>假设二叉树的数据元素为字符，采用二叉链式存储结构。二叉树ADT实现的大部分代码已经给出，其中采用完全前序序列创建二叉树。请补充写出下列两个操作函数。</p>
<blockquote>
<p>注意： 答案区只写出两个函数，其他代码不允许修改和重写、提交！</p>
</blockquote>
<ol>
<li>计算以某结点为根的二叉树的高度；</li>
<li>以前序顺序输出各个元素结点为根的子树的高度；</li>
</ol>
<p>例如：有如右图的二叉树   <img src="https://i.loli.net/2020/08/20/axyNCbMzRcpDtY7.jpg" alt="1559400741461.jpg" /></p>
<h3 id="输入">输入</h3>
<pre><code>ABD@@E@@C@F@@
</code></pre>
<h3 id="输出">输出</h3>
<pre><code>Height(A)=3
Height(B)=2
Height(D)=1
Height(E)=1
Height(C)=2
Height(F)=1
</code></pre>
</p>
                            <a href="article/4/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">统计递归子问题个数</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>分治策略是算法设计的重要策略之一，该策略的基本思想是把问题进行分解成一些子问题，通过子问题的求解完成对原问题的求解。其关键是分解和合并，好的分解或合并方法才会产生高效的分治算法。</p>
<p>分治策略设计出的算法最常见的就是递归算法。但是如果在分解时，分解出的子问题有很多是重复的，那么这样的分治（递归）算法求解问题的效率就非常低。例如斐波那契数问题，如果采用递归求解，算法效率非常低：O(2^n)。而如果采用递推求解(动态规划自底向上求解)，算法效率非常高：O(n)。</p>
<h2 id="question">Question</h2>
<p>现在请你编写程序，统计计算一个斐波那契数时分解出的各子问题的个数。</p>
<p>斐波那契数的定义如下：</p>
<pre><code>Fib(0)=0
Fib(1)=1
Fib(n)=Fib(n-1)+Fib(n-2)
</code></pre>
<p>输入：一个整数n，即计算<code>Fib(n)</code></p>
<p>输出：n+1行，即各个子问题的值及该子问题的个数。</p>
</p>
                            <a href="article/9/3.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>
                <div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">二叉树ADT的实现</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><p>假设二叉数的数据元素为字符，采用二叉链式存储结构。请编码实现二叉树ADT，其中包括创建二叉树、遍历二叉树（深度、广度）、求二叉树的深度（高度）、计算二叉树的元素个数、计算二叉树的叶子数、二叉树的格式输出等。</p>
<h2 id="question">Question</h2>
<p>假设二叉数的数据元素为字符，采用二叉链式存储结构。请编码实现二叉树ADT，其中包括创建二叉树、遍历二叉树（深度、广度）、求二叉树的深度（高度）、计算二叉树的元素个数、计算二叉树的叶子数、二叉树的格式输出等。</p>
<p>根据输入的符号，执行相应的操作。如下：</p>
<ul>
<li>C：根据完全前序序列创建二叉树，#表示空结点（空子树）；输入：二叉树的完全前序序列，创建成功输出 <code>Created success!</code></li>
<li>H：求二叉树的高度；   输出： <code>Height=高度</code></li>
<li>L：计算二叉树的叶子数；输出：<code>Leaves=叶子个数</code></li>
<li>N：计算二叉树中元素总个数；输出：<code>Nodes=结点个数</code></li>
<li>1：先序遍历二叉树；输出：<code>Preorder is:序列 .</code></li>
<li>2：中序遍历二叉树；输出：<code>Inorder is:序列 .</code></li>
<li>3：后序遍历二叉树；输出：<code>Postorder is:序列 .</code></li>
<li>4：广度遍历二叉树；输出：<code>BFSorder is:序列 .</code></li>
<li>F：查找值为x的结点个数；输出：<code>The count of x is 个数 .</code></li>
<li>P：以目录缩格文本形式输出所有节点。输出：<code>The tree is:</code>（换行，下面各行是输出的二叉树）</li>
<li>X：退出</li>
</ul>
</p>
                            <a href="article/3/0.html" class="card-link">阅读全文</a>
                        </div>
                    </div>
                    <!-- <a th:text="${i.title}" th:href="${i.url}">文章标题</a> -->
                </div>


                <!--第一页、最后一页、当前页、当前页上下页-->
                <nav aria-label="Page navigation example" class="mt-3 d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" aria-label="First">
                            <a class="page-link" href="/">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item" aria-label="Previous"><a class="page-link"
                                href="/index4.html">4</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">5</a></li>
                        <li class="page-item" aria-label="Next"><a
                                class="page-link" href="/index6.html">6</a></li>
                        <li class="page-item disabled"><a class="page-link"
                                href="#">...</a></li>
                        <li class="page-item" aria-label="Last">
                            <a class="page-link" href="/index7.html">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="card col-md-4 d-none d-md-block ms-md-3 text-center">
                <div class="sticky-top">
                    <img src="/favicon.ico" alt="avatar" class="mt-3">
                    <div class="card-body">
                        <p class="card-text">
                            归零幻想
                        </p>
                        <p class="card-text">
                            邮件：<a href="mailto:admin@ntutn.top">admin@ntutn.top</a><br>
                            Telegram: <a href="https://t.me/zerofancy">@zerofancy</a>
                        </p>
                        <blockquote id="hitokoto">正在追番《艾克斯奥特曼》。</blockquote>
                        <div style="text-align:right;" id="hitokoto_from">——站长</div>
                        <a href="/atom.xml">RSS</a>
                    </div>
                    <div>
                        <p class="card-body">友情链接</p>
                        <ul>
                            <li><a href="https://blog.semesse.me/">色魔是色魔</a></li>
                            <li><a href="http://www.xyx6.top/">XYX</a></li>
                            <li><a href="http://upccaishu.top/">菜树</a></li>
                            <li><a href="https://www.ruiovo.top/">ruiOvO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // 一言
        let xhr = new XMLHttpRequest()
        xhr.open('get', 'https://v1.hitokoto.cn/')
        xhr.send()
        xhr.onload = function () {
            let hitokotoResult = JSON.parse(xhr.responseText)
            document.getElementById("hitokoto").innerText = hitokotoResult.hitokoto
            document.getElementById("hitokoto_from").innerText = "——" + hitokotoResult.from
        }
        // 页码
        var getRandomColor = function () {
            return '#' +
                (function (color) {
                    return (color += '0123456789abcdef'[Math.floor(Math.random() * 16)]) && (color.length == 6) ? color : arguments.callee(color);
                })('');
        }
        let pageWidth = window.innerWidth,
            pageHeight = window.innerHeight
        if (typeof innerWidth != 'number') {
            if (document.compatMode == 'CSS1Compat') {//严格模式
                pageWidth = document.documentElement.clientWidth
                pageHeight = document.documentElement.clientHeight
            } else {
                pageWidth = document.body.clientWidth
                pageHeight = document.body.clientHeight
            }
        }
        document.body.style.backgroundColor = getRandomColor();
        console.log(`https://source.unsplash.com/random/${pageWidth}x${pageHeight}`)
        document.body.style.backgroundImage = `url(https://source.unsplash.com/random/${pageWidth}x${pageHeight})`;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/bash.min.js"
        integrity="sha512-HIFqAH4BgdlJE3A1Uoyl6weoDR1WtdufmKBPWtemvTI+12lrV5dfPR5ekvJaePkq6w+zuPAek2X2hHxo/T5kag=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/basic.min.js"
        integrity="sha512-8MrrYyqbmwVrcDGR/2VenE2+IX+ELHJxM0vysdjlAQrJyXZwfKl9dXdyWASFBKzuszu8z3G7XoyjeJVM3b9MlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/c.min.js"
        integrity="sha512-+2nEdmDIEQVBw4y3LD2BLOgAvX1+xx9kPQawjQB/HNfi4bDgSF4ywg8yIQ67ijrLLO2ruHaX9dZ25ruG3HwZSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/cpp.min.js"
        integrity="sha512-OsjySiIaNsR3uFe7uEH6yht3is/WrIXKocWeO0YHFs25jOwHwMtzIdkUENQjblQihTUIN78bpnLKbhMxRegjLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/gradle.min.js"
        integrity="sha512-QXYGxsyYg6bKlr3W82K2fp25xklKskdnms2qEhgrm2Uz+dnDG3RCHmVP6GQ6waI34+lirlcgsdddvmSXbBhhhQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/groovy.min.js"
        integrity="sha512-wHPb/EJ15Z5bl59kfxL/THnrtIGdrlOD0CdeBKZ1tsgcLsmx4kbiTmB0gsPZUqCzgIB3MK9tBemnrIr41WFUkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/java.min.js"
        integrity="sha512-5j3t2T2xf236N+J+QPE2Po6Q3P/SXze0hgt2XMi1mbYzkC2VqeB/DFYICXfMhV1V+KdxDOBp9PcCAebb8kLvSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/javascript.min.js"
        integrity="sha512-Jvh5kXa0Zu4HoSxPaZIVhCWPkD7b7gnWHVzv6jiaJwAJ18a/U6BOXludYfJYwHorpy2WFH0Df6EcFi5udu1dWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/json.min.js"
        integrity="sha512-z3sCqG8cfRJGXv+x7QvVAx92uACSYScuJCRQzSjEhAU23TabHD8+tqafvAbKterqaB4tkiVJYCFNhQaT1+QmfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/kotlin.min.js"
        integrity="sha512-ZEBRAqmcLuQ5A9KdZIayen2HuDMAau0Q4C3s/gwnIldFSvOxAOXJk0zhEpu30ACABYAmHKNSZDmup5OEGbx+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/xml.min.js"
        integrity="sha512-1UdiK7+k2GhyGJMG9hmQXQ51TP2NPjHjh65uWhCeqSXSZ4UlzDG5+/st9VWRksKWYxKeU37/qwSAuPfSkcWD6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll()
    </script>

    <!--图片调整-->
    <script>
        //获取图片元素
        var imgs = document.getElementsByTagName("img");
        //获取div元素   
        var contentLeft = document.getElementById("content-container");
        //使用js设置图片元素宽度的变化    
        for (var i = 0; i < imgs.length; i++) {
            imgs[i].style["max-width"] = contentLeft.offsetWidth - 60 + "px";
        }
            //40是要减去padding
    </script>

    <!--HTTPS重定向-->
    <script>
        if (!(window.location.host.startsWith("127.0.0.1") || window.location.host.startsWith("localhost")) && (window.location.protocol != "https:")) {
            window.location.protocol = "https";
        }
    </script>
</body>

</html>